<!-- @App Content -->
    <!-- =================================================== -->
    <div>
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo" >
            <div class="peers ai-c fxw-nw" >
              <div class="peer peer-greed" style="text-align: center;">
                <img style="border-radius: 50%; border: 3px solid white; background: black;" width="75" height="75" src="https://www.usac.edu.gt/img/logo_rectoria.png" alt="">
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">{{data.type}}</h5>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
              <a class="sidebar-link" [routerLink]="['dashboard']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['usuario']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-light-blue-500 ti-user"></i>
                </span>
                <span class="title">Administradores</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['auxiliar']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-purple-500 ti-user"></i>
                </span>
                <span class="title">Auxiliares</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['estudiante']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-green-500 ti-user"></i>
                </span>
                <span class="title">Estudiantes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['curso']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-red-500 ti-ruler-pencil"></i>
                </span>
                <span class="title">Cursos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['detalle-curso']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-ruler-alt"></i>
                </span>
                <span class="title">Detalle de Curso</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['ticket']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-ticket"></i>
                </span>
                <span class="title">Tickets</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte1']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-blackboard"></i>
                </span>
                <span class="title">Consulta de Asignación</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte2']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-medall"></i>
                </span>
                <span class="title">Aprobado/Reprobado</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte3']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-ticket"></i>
                </span>
                <span class="title">Tickets</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte4']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-book"></i>
                </span>
                <span class="title">Evaluaciones</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte5']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-comments-smiley"></i>
                </span>
                <span class="title">Publicaciones</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' [routerLink]="['reporte6']" routerLinkActive="active">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-bar-chart"></i>
                </span>
                <span class="title">Asistencia</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- #Main ============================ -->
      <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-left">
              <li>
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                  <i class="ti-menu"></i>
                </a>
              </li>
              <li class="search-box">
                <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                  <i class="search-icon ti-search pdd-right-10"></i>
                  <i class="search-icon-close ti-close pdd-right-10"></i>
                </a>
              </li>
              <li class="search-input">
                <input class="form-control" type="text" placeholder="Search...">
              </li>
            </ul>
            <ul class="nav-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                  <div class="peer mR-10">
                    <img class="w-2r bdrs-50p" src="https://www.flaticon.es/premium-icon/icons/svg/622/622851.svg" alt="">
                  </div>
                  <div class="peer">
                    <span class="fsz-sm c-grey-900">{{data.nombre}}</span>
                  </div>
                </a>
                <ul class="dropdown-menu fsz-sm">
                  <!--<li>
                    <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-settings mR-10"></i>
                      <span>Setting</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-user mR-10"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-email mR-10"></i>
                      <span>Messages</span>
                    </a>
                  </li>-->
                  <li role="separator" class="divider"></li>
                  <li>
                    <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" href="#" (click)="logOut()">
                      <i class="ti-power-off mR-10"></i>
                      <span>Cerrar Sesión</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
          
    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>José Rafael Morente González © 2019</span>
    </footer>
  </div>
</div>
