<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        <!--<p>Back</p>-->
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle de Foro</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of table |filter:search">
    <ion-card-header>
      <ion-card-subtitle>{{data.nombre}} {{data.apellido}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{data.comentario}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
