/*=================== hero banner start ====================*/
.hero-banner{
  position: relative;
  margin-bottom: 10px;

  @media(min-width: 991px){
    z-index: 111;
  }

  &::before{
    content: "";
    display: block;
    width: 5%;
    height: 100%;
    background: #032CA6;
    position: absolute;
    top: 0;
    left: 0;

    @media(min-width: 575px){
      width: 20%;
    }

    @media(min-width: 991px){
      width: 35%;
    }
  }

  &__img{
    position: relative;
    top: 1px;
  }

  &__content{

    @media(max-width: 575px){
      padding-bottom: 50px;
    }

    @media(min-width: 1000px){
      max-width: 495px;
    }

    @media(min-width: 1200px){
      // padding-bottom: 30px;
    }

    h4{
      font-size: 30px;
      color: #555555;
      margin-bottom: 12px;
    }

    h1{
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;

      @media(min-width: 767px){
        font-size: 30px;
        margin-bottom: 25px;
      }

      @media(min-width: 991px){
        font-size: 50px;
      }
    }

    p{
      margin-bottom: 10px;

      @media(min-width: 767px){
        margin-bottom: 40px;
      }
    }
  }
}
/*=================== hero banner end ====================*/

/*=================== product cart style start ====================*/
.card-product{
  border: 0;
  margin-bottom: 30px;

  p{
    margin-bottom: 0;
  }

  &__img{
    position: relative;
    

    &Overlay{
      background: rgba(255, 255, 255, .5);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px 5px;
      transform: translateY(30px);
      opacity: 0;
      z-index: -1;
      transition: all .48s ease;

      li{
        display: inline-block;

        button{
          border: 0;
          border-radius: 0;
          padding: 7px 12px;
          background: #032CA6;

          i,span{
            font-size: 15px;
            color: #fff;
            vertical-align: middle;
          }

          &:hover{
            background: #0B9ED9;
          }
        }

        &:not(:last-child){
          margin-right: 5px;
        }
      }
    }
  }

  &__title{
    a{
      color: rgba(0, 34, 14, 0.333);
    }
  }

  &__price{
    font-size: 18px;
    font-weight: 500;
  }

  &:hover{

    .card-product__imgOverlay{
      opacity: 1;
      z-index: 1;
      transform: translateY(0);
    }

    .card-product__title a{
      color: #032CA6;
    }
  }
}