<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4">Detalle de Cursos</h1>
        <div class="form-group form-inline my-2 my-lg-0">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="icon-holder">
                    <i class="ti-search"></i>
                  </span>
                </div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar" [(ngModel)]="search" name="search">
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalAdd" (click)="initializeForm()">
          <span class="icon-holder">
            <i class="ti-plus"></i>
          </span>  Agregar
        </button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Semestre</th>
                    <th>Año</th>
                    <th>Horario</th>
                    <th>Fecha Fin de Asignación</th>
                    <th>Curso</th>
                    <th>Sección</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of table |filter:search">
                    <td>{{data.idDetalleCurso}}</td>
                    <td>{{data.semestre}}</td>
                    <td>{{data.anio}}</td>
                    <td>{{data.horaInicio}} - {{data.horaFin}}</td>
                    <td>{{data.fechaFin | date: 'short'}}</td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.seccion}}</td>
                    <td style="text-align: center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-success" data-toggle="modal" [disabled]="data.idTipoUsuario==1"
                      data-target="#exampleModalUpdate" (click)="getSingle(data.idDetalleCurso)">
                        <span class="icon-holder">
                          <i class="ti-pencil"></i>
                        </span>  Editar
                      </button>
                      <button type="button" class="btn btn-outline-danger" (click)="delete(data.idDetalleCurso)" [disabled]="data.idTipoUsuario==1">
                        <span class="icon-holder">
                          <i class="ti-trash"></i>
                        </span>  Eliminar
                      </button>
                      <button type="button" class="btn btn-outline-success" data-toggle="modal" [disabled]="data.idTipoUsuario==1"
                      data-target="#exampleModalAssignament" (click)="initializeFormA(data.idDetalleCurso)">
                        <span class="icon-holder">
                          <i class="ti-plus"></i>
                        </span>  Asignación
                      </button>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- MODAL AGREGAR USUARIO -->
<div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalAddLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" [formGroup]="formData" (ngSubmit)="saveChanges()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalAddLabel">Agregar Administrador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text-normal text-dark">Semestre</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Semestre" formControlName="semestre" name="semestre" >
              <option value="Semestre I">Semestre I</option>
              <option value="Semestre II">Semestre II</option>
            </select>
          </div>     
          <div *ngIf="semestre.invalid && (semestre.dirty || semestre.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="semestre.errors.required">
                El semestre es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="semestre.errors.maxlength">
                La longitud maxima es de 100 caracteres
              </div>
          </div>  
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Año</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Año" formControlName="anio" name="anio" required>
          </div>
          <div *ngIf="anio.invalid && (anio.dirty || anio.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="anio.errors.required">
                El anio es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="anio.errors.maxlength">
                La longitud maxima es de 50 caracteres
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Hora Inicio</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="time" class="form-control" placeholder="Año" formControlName="horaInicio" name="horaInicio" required>
          </div>
          <div *ngIf="horaInicio.invalid && (horaInicio.dirty || horaInicio.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="horaInicio.errors.required">
                La hora de inicio es requerido
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Hora Fin</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="time" class="form-control" placeholder="Hora Final" formControlName="horaFin" name="horaFin" required>
          </div>
          <div *ngIf="horaFin.invalid && (horaFin.dirty || horaFin.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="horaFin.errors.required">
                La hora de fin es requerido
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Fecha Fin Asignacion</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="datetime-local" class="form-control" placeholder="Fecha de Entrega" formControlName="fechaFin" name="fechaFin" required>
          </div>     
          <div *ngIf="fechaFin.invalid && (fechaFin.dirty || fechaFin.touched)">
            <div class="alert alert-danger" role="alert" *ngIf="fechaFin.errors.required">
              La fecha fin asignación es requerido
            </div>
          </div>  
        </div> 
        <div class="form-group">
          <label class="text-normal text-dark">Curso</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Curso" formControlName="idCurso" name="idCurso" >
              <option value="{{x.idCurso}}" *ngFor="let x of cursos">{{x.nombre}}</option>
            </select>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Sección</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Seccion" formControlName="idSeccion" name="idSeccion" >
              <option value="{{x.idSeccion}}" *ngFor="let x of secciones">{{x.nombre}}</option>              
            </select>
          </div> 
        </div>           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <span class="icon-holder">
            <i class="ti-close"></i>
          </span>  Cerrar
        </button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formData.valid">
          <span class="icon-holder">
            <i class="ti-save-alt"></i>
          </span>  Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>

<!-- MODAL AGREGAR USUARIO -->
<div class="modal fade" id="exampleModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalUpdateLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" [formGroup]="formData" (ngSubmit)="saveChanges2()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalUpdateLabel">Agregar Administrador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text-normal text-dark">Semestre</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Semestre" formControlName="semestre" name="semestre" >
              <option value="Semestre I">Semestre I</option>
              <option value="Semestre II">Semestre II</option>
            </select>
          </div>     
          <div *ngIf="semestre.invalid && (semestre.dirty || semestre.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="semestre.errors.required">
                El semestre es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="semestre.errors.maxlength">
                La longitud maxima es de 100 caracteres
              </div>
          </div>  
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Año</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Año" formControlName="anio" name="anio" required>
          </div>
          <div *ngIf="anio.invalid && (anio.dirty || anio.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="anio.errors.required">
                El anio es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="anio.errors.maxlength">
                La longitud maxima es de 50 caracteres
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Hora Inicio</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="time" class="form-control" placeholder="Año" formControlName="horaInicio" name="horaInicio" required>
          </div>
          <div *ngIf="horaInicio.invalid && (horaInicio.dirty || horaInicio.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="horaInicio.errors.required">
                La hora de inicio es requerido
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Hora Fin</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="time" class="form-control" placeholder="Hora Final" formControlName="horaFin" name="horaFin" required>
          </div>
          <div *ngIf="horaFin.invalid && (horaFin.dirty || horaFin.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="horaFin.errors.required">
                La hora de fin es requerido
              </div>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Fecha Fin Asignacion</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="datetime-local" class="form-control" placeholder="Fecha de Entrega" formControlName="fechaFin" name="fechaFin" required>
          </div>     
          <div *ngIf="fechaFin.invalid && (fechaFin.dirty || fechaFin.touched)">
            <div class="alert alert-danger" role="alert" *ngIf="fechaFin.errors.required">
              La fecha fin asignación es requerido
            </div>
          </div>  
        </div> 
        <div class="form-group">
          <label class="text-normal text-dark">Curso</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Curso" formControlName="idCurso" name="idCurso" >
              <option value="{{x.idCurso}}" *ngFor="let x of cursos">{{x.nombre}}</option>
            </select>
          </div> 
        </div>
        <div class="form-group">
          <label class="text-normal text-dark">Sección</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Seccion" formControlName="idSeccion" name="idSeccion" >
              <option value="{{x.idSeccion}}" *ngFor="let x of secciones">{{x.nombre}}</option>              
            </select>
          </div> 
        </div>           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <span class="icon-holder">
            <i class="ti-close"></i>
          </span>  Cerrar
        </button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formData.valid">
          <span class="icon-holder">
            <i class="ti-save-alt"></i>
          </span>  Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>

<!-- MODAL AGREGAR USUARIO -->
<div class="modal fade" id="exampleModalAssignament" tabindex="-1" role="dialog" aria-labelledby="exampleModalAssignamentLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" [formGroup]="formAssignament" (ngSubmit)="saveChanges3()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalAssignamentLabel">Asignar Auxiliar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="notificacionError.estado">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ notificacionError.mensaje }}</strong>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text-normal text-dark">Auxiliar</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <select class="form-control" id="inlineFormInputGroup" placeholder="Auxiliar" formControlName="idUsuario" name="idUsuario" >
              <option value="{{x.idUsuario}}" *ngFor="let x of auxiliares">{{x.nombre}} {{x.apellido}}</option>              
            </select>
          </div>     
          <div *ngIf="idUsuario.invalid && (idUsuario.dirty || idUsuario.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="idUsuario.errors.required">
                El auxiliar es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="idUsuario.errors.maxlength">
                La longitud maxima es de 100 caracteres
              </div>
          </div>  
        </div>  
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Auxiliar</th>
                <th>Descrpcion</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of asignacion; let i = index">
                <td>{{i+1}}</td>
                <td>{{data.nombre}} {{data.apellido}}</td>
                <td>{{data.descripcion}}</td>
                <td style="text-align: center">
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-danger" (click)="initializeFormDelete(data.idAsignacionAuxiliar)" data-toggle="modal" data-target="#exampleModalDelete" [disabled]="data.estado==0">
                    <span class="icon-holder">
                      <i class="ti-trash"></i>
                    </span>  Eliminar
                  </button>
                </div>
                </td>
              </tr>
            </tbody>
        </table>         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <span class="icon-holder">
            <i class="ti-close"></i>
          </span>  Cerrar
        </button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formAssignament.valid">
          <span class="icon-holder">
            <i class="ti-save-alt"></i>
          </span>  Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>


<!-- MODAL AGREGAR USUARIO -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" [formGroup]="formDataDelete" (ngSubmit)="saveChangesDelete()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalDeleteLabel">Eliminar Asignación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text-normal text-dark">Motivo de Desasignación</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="icon-holder">
                  <i class="ti-info-alt"></i>
                </span>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Motivo" formControlName="descripcion" name="descripcion" required>
          </div>
          <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
              <div class="alert alert-danger" role="alert" *ngIf="descripcion.errors.required">
                La descripcion es requerido
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="descripcion.errors.maxlength">
                La longitud maxima es de 250 caracteres
              </div>
          </div> 
        </div>           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <span class="icon-holder">
            <i class="ti-close"></i>
          </span>  Cerrar
        </button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formDataDelete.valid">
          <span class="icon-holder">
            <i class="ti-save-alt"></i>
          </span>  Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>

<simple-notifications [options]="options"></simple-notifications>