<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        <!--<p>Back</p>-->
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle de Evaluación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of table">
    <ion-card-content>
      <ion-list>
      <ion-radio-group >
        <ion-list-header >
          <ion-label>{{data.pregunta}}</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>{{data.respuesta1}}</ion-label>
          <ion-radio slot="start" [value]="data.respuesta1" (click)="saveChanges(data.respuesta1, data)"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{data.respuesta2}}</ion-label>
          <ion-radio slot="start" [value]="data.respuesta2" (click)="saveChanges(data.respuesta2, data)"></ion-radio>
        </ion-item>

        <ion-item *ngIf="data.respuesta3">
          <ion-label>{{data.respuesta3}}</ion-label>
          <ion-radio slot="start" [value]="data.respuesta3" (click)="saveChanges(data.respuesta3, data)"></ion-radio>
        </ion-item>
      </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
